$base-color: #F0F5FF;
$base-font-color: #000000;
$base-button-color: #1E91FF;
$button-color: #FFE458;
$font-size-base: 14px;
$border-radius: 3px;
$red-button: #C41E52;

$stars: 5;
$star-size: 25px;
$star-spacing: 2px;
$star-on-color: #F9DF4A;
$star-off-color: #CCCCCC;
$without-color: transparent;

@mixin not-last-child($selector) {
  & #{$selector}:not(:last-child) {
    @content;
  }
}
