<app-header></app-header>
<section class="main_page background">
  <div class="container">
    <div class="title">
      <h2>Забронюйте паркування онлайн</h2>
      <p>Обирайте зручні місця, порівнюйте ціни, сплачуйте онлайн</p>
    </div>

    <div class="search_section">
      <div class="button_section d-flex">
        <button class="btn_default" type="button">
          <span class="btn_text">Погодинна</span>
        </button>
        <button class="ghost_button" type="button">
          <span class="btn_text">Помісячна</span>
        </button>
      </div>
      <div class="searchbox-wrap">
        <input type="text" placeholder="Адреса або місто">
        <button class="btn_default">Знайти</button>
      </div>
      <button class="ghost_button find_nearest_btn d-flex mt-5" type="button">
        <svg class="bi bi-cursor-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
        </svg>
        <span class="bi bi-cursor-fill">Знайти біля мене</span>
      </button>

      <div class="advantages_items justify-content-center row mt-5">
        <div class="col-lg-4 col-md-4 col-sm-6">
          Швидке бронювання
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          Електронний талон
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          100% повернення коштів
        </div>
        <img src="assets/img/mob-badges.png" class="badges_img" alt="Elva dressed as a fairy">
        <img src="assets/img/mob-city1.png" class="city_img position-relative" alt="Elva dressed as a fairy">
      </div>
    </div>
  </div>
</section>
