@import "../../../assets/main_styles/scss/variables";
.background {
  background: $base-color;
}
.main_page {
  text-align: center;


  .title h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 35px;
    font-weight: bold;
  }
  .title p {
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
  }

  .search_section {
    margin-top: 40px;
    .button_section .btn_default {
      background: $button-color;
      border: 1px $button-color solid;
      color: #000000;
    }

    .searchbox-wrap {
      display     : flex;
      margin-top  : 30px;
      margin-left : auto;
      margin-right: auto;
      flex                             : 1;
      padding: 5px 10px;
      font-size                        : 1.1em;
      background: #ffffff;
      border-radius: 7px;
      box-shadow                       : none;
      border                           : none;
      box-shadow                       : 2px 4px 6px rgba(0, 0, 0, 0.19);


      input{
        flex: 1;
        font-size: 16px;
        line-height: 100%;
        color: #1E91FF;
        opacity: 0.8;
        border: none;

      }

      button.btn_default {

        padding: 10px 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #fff;
        background-color: $base-button-color;
        border-color: $base-button-color;


        &:hover{
          background-color: #d6121f;
          box-shadow      : 2px 2px 4px rgba(0, 0, 0, 0.19);
        }

      }
    }
    .find_nearest_btn svg {
        margin-top: 4px;
        margin-right: 15px;
    }
    .advantages_items {
      position: relative;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #335EB6;
      img.badges_img {
        position: absolute;
        top: 150px;
        //left: 50px;
        z-index: 10;
      }
    }
  }




}

