<section class="partners container">
  <app-header></app-header>

  <div class="partners_banner mt-5 row">
    <div class="d-flex align-items-center col-lg-5 col-md-5 col-sm-6">
      <div class="title">
        <h1 class="pt-4 pb-2 font-weight-bold">Арендуйте своє паркомісце</h1>
        <p class="font-weight-normal mt-5 subtitle">Місця для паркування — неймовірно цінний актив. Перетворіть свій простір у джерело заробітку</p>
        <button class="mt-4">Почати заробляти</button>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6">
      <div class="image_banner">
        <img src="assets/img/partners-banner.png" alt="partners_img">
      </div>
    </div>
  </div>
  <div class="partners_steps mrt">
    <div class="title">
      <h1 class="pt-4 pb-2 font-weight-bold">Як стати партнером Парколенд</h1>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h5><span>Заповніть</span> анкету онлайн</h5>
        <div class="item_text mt-4">
          <p>Ми запитаємо у вас особисті дані, вартість вашої аренди та деталі паркомісця.</p>
            <p>Всі особисті дані наших бізнес-клієнтів зберігаються у зашифрованому вигляді. Ми ніколи не передамо їх стороннім особам</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h5><span>Дочекайтеся</span> перевірки</h5>
        <div class="item_text mt-4">
          <p>Щоб забезпечити нашим клієнтам найкращий сервіс, ми маємо переконатись, що ви відповідаєте всім вимогам.</p>
           <p> Перевірка займає 5 робочих днів. Після перевірки ви отримаєте повідомлення на електропошту</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h5><span>Заробляйте</span> разом з Парколенд</h5>
        <div class="item_text mt-4">
          <p>Тепер ви можете заробляти гроші. В вашому профілі з’явився доступ до бізнес-кабінету.</p>
           <p> В ньому ви можете відстежувати замовлення, перевіряти свій дохід, налаштовувати ціни та багато іншого.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="partners_adv mrt"></div>
  <app-footer></app-footer>
</section>
