<section class="partners container">
  <app-header></app-header>

  <div class="partners_banner mt-5 row">
    <div class="d-flex align-items-center col-lg-5 col-md-5 col-sm-6">
      <div class="title">
        <h1 class="pt-4 pb-2 font-weight-bold">Арендуйте своє паркомісце</h1>
        <p class="font-weight-normal mt-5 subtitle">Місця для паркування — неймовірно цінний актив. Перетворіть свій простір у джерело заробітку</p>
        <button class="red_btn mt-4">Почати заробляти</button>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6">
      <div class="image_banner">
        <img src="assets/img/partners-banner.png" alt="partners_img">
      </div>
    </div>
  </div>
  <div class="partners_steps mrt">
    <div class="title">
      <h1 class="pt-4 pb-2 font-weight-bold">Як стати партнером Парколенд</h1>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h5><span>Заповніть</span> анкету онлайн</h5>
        <div class="item_text mt-4">
          <p>Ми запитаємо у вас особисті дані, вартість вашої аренди та деталі паркомісця.</p>
            <p>Всі особисті дані наших бізнес-клієнтів зберігаються у зашифрованому вигляді. Ми ніколи не передамо їх стороннім особам</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h5><span>Дочекайтеся</span> перевірки</h5>
        <div class="item_text mt-4">
          <p>Щоб забезпечити нашим клієнтам найкращий сервіс, ми маємо переконатись, що ви відповідаєте всім вимогам.</p>
           <p> Перевірка займає 5 робочих днів. Після перевірки ви отримаєте повідомлення на електропошту</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h5><span>Заробляйте</span> разом з Парколенд</h5>
        <div class="item_text mt-4">
          <p>Тепер ви можете заробляти гроші. В вашому профілі з’явився доступ до бізнес-кабінету.</p>
           <p> В ньому ви можете відстежувати замовлення, перевіряти свій дохід, налаштовувати ціни та багато іншого.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="partners_adv mrt"></div>
  <div class="mobile_app mrt">
      <div class="adv_item d-flex row mb-5">
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-md-start justify-content-sm-center">
          <img src="assets/img/phones.png" alt="phones_img">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h3 class="pb-3">Повний контроль у вас під рукою</h3>
          <p class="font-weight-normal subtitle mr-auto ml-auto">Відстежуйте бронювання та дохід у всіх своїх місцях завдяки панелі управління, що оптимізована для мобільних пристроїв.</p>
          <p>Редагуйте ціни, додайте нові об’єкти та оновлюйте доступність у режимі реального часу.</p>
        </div>

      </div>
      <div class="row mrt">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h3 class="pb-3">Швидкі бронювання та миттєві повідомлення</h3>
          <p class="font-weight-normal subtitle mr-auto ml-auto">Пошук по номерному знаку автомобіля дає вашій команді простий спосіб зрозуміти, хто саме повинен бути у вашому місці — і коли..</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-md-end justify-content-sm-center">
          <img src="assets/img/phones2.png" alt="phones2_img">
        </div>
      </div>
  </div>
  <div class="startToEarn mrt">
    <div class="partners_img col-lg-12 col-md-12 col-sm-12 d-flex justify-content-md-start justify-content-sm-center">
      <img src="assets/img/partners.png" alt="partners_img">
    </div>
    <div class="mt-5 row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1 class="font-weight-bold">Нехай порожнє місце працює на вас</h1>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <p>Парколенд дозволяє власникам паркомісць сдавати місця в аренду. Водії можуть знайти та забронювати зручне місце за лічені секунди. А ви можете без особливих зусиль заробляти додатковий дохід.</p>
        <button class="red_btn mt-4">Почати заробляти</button>
      </div>
    </div>
  </div>
  <hr>
  <app-footer></app-footer>
</section>
