<h2 class="pt-5 pb-4 font-weight-bold text-left">Записи з блогу</h2>
<div class="card-deck text-left">
  <div class="card">
    <img class="card-img-top" src="assets/img/blog-img1.png" alt="blog image">
      <h5 class="card-title pt-3">У пошуках Атлантиди. Греція десять років тому і зараз</h5>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/blog-img2.png" alt="blog image">
      <h5 class="card-title pt-3">Скільки коштує відвідати усі країни Європи</h5>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/blog-img3.png" alt="blog image">
      <h5 class="card-title pt-3">Ліхтенштейн і завершальна частина Євротуру на авто</h5>
  </div>
</div>
<button class="ghost_button mt-3 p-2 d-flex justify-content-end" type="button">
  <span class="btn_text">Всі записи </span>
</button>
