<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6">
    <p>© 2020 Parkoland</p>
    <p>Всі права захищені</p>
    <div class="socials mt-5">
      <a href="#" class="pr-2"><img src="assets/img/Insta.png" alt="insta image"></a>
      <a href="#"><img src="assets/img/FB.png" alt="FB image"></a>
    </div>
  </div>
  <div class="col-lg-4 col-md-3 book_parking">
    <h5 class="pb-4">Бронювання парковки</h5>
    <p>Парковка в Києві</p>
    <p>Місячна аренда</p>
    <p>Всі права захищені</p>
  </div>
  <div class="col-lg-3 col-md-3 company">
    <h5 class="pb-4">Компанія</h5>
    <p>Блог</p>
    <p>FAQ</p>
    <p>Умови використання</p>
    <p>Політика конфіденційності</p>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-6">
    <p>063 400-20-20</p>
    <p>З 7 до 22 без вихідних</p>
  </div>
</div>
